.todo {
  margin: 10px;
  border-radius: 3px;
  padding: 20px;
  background-color: $dark-gray;
  color: #ffffff;

  .title {
    margin-bottom: 10px;
    font-size: $normal-font-size + 10;
    font-weight: lighter;
    word-wrap: break-word;
  }

  .message {
    margin-bottom: 10px;
    line-height: 1.25;
    word-wrap: break-word;
  }

  .updatedAt {
    font-size: 12px;
  }
}

