.public {
  // margin: 2px;
  // border: 2px solid red;
  margin-bottom: 40px;
  max-width: 260px;
  width: 100%;

  .text {
    padding: 12px 0;
    text-align: center;
    color: #8a959e;

    .change-link {
      color: #fc5459;
      cursor: pointer;
    }
  }
}
